body {
  background: #fff;
}
/* Buttons */
.pnh-red-button {
  background: crimson;
  color: #fff;
}

/* Hero Section */
#hero-section {
  background: url(/img/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  color: #fff;
}

#hero-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.hero-inner {
  height: 100vh;
}

/* What Is Banner */
#what-is-section {
  padding: 200px;
  background: url(/img/lab.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
}

/* Card Section */
.card-row {
  background: rgb(235, 233, 233);
  padding: 20px;
  border-radius: 5px;
}

/* Event Section */
.event-wrapper {
  background: rgb(68, 68, 68);
  color: #fff;
}

/* Contact Section */
#contact-section {
  background: rgb(255, 214, 214);
}

.contact-card {
  background: #fff;
}
