// override any bootstrap variables above the bootstrap imports.
// EG

// Customize some defaults
$body-color: #333;
$body-bg: #ffffff;
$border-radius: 0.45rem;
// $success: #7952b3;

// double check these are working
// $link-hover-color:                        lighten(#140202, 23%);
// $link-hover-decoration:                   overline;
// may make nice branding
$lightOrange: #e99f30 !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
// Changing Bootstrap Theme Colors
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #f15252 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$pnhorg: #ffac4e !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  // "danger": $danger,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "quaternary": #6e30d3,
  "pnhorg": $pnhorg,
);

$navbar-light-color: rgb(77, 68, 68);
$navbar-light-active-color: #000;
$navbar-light-hover-color: $pnhorg;
// $navbar-light-disabled-color: #F3EFE6;
