// Essentials.
// smaccs
@import "essentials";
// Generic
@import "2-generic/generic";
@import "2-generic/gutenberg";

// Layouts.
@import "4-layouts/posts/meta";
@import "4-layouts/posts/pagination";
@import "4-layouts/header/nav/navigation";
@import "4-layouts/footer/footer";

@import "4-layouts/frontpage/section1";
// @import "4-layouts/frontpage/section2";
@import "4-layouts/frontpage/section3";
@import "4-layouts/frontpage/section4";
@import "4-layouts/frontpage/section5";
@import "4-layouts/frontpage/section6";
@import "4-layouts/frontpage/section7";
@import "4-layouts/frontpage/section8";

// $primary_theme: rebeccapurple;

main > .container {
  height: 100vh
}
/* Buttons */
.pnh-red-button {
  background: crimson;
  color: #fff;
}

