/* Card Section */
.card-row {
  background: rgb(235, 233, 233);
  padding: 20px;
  border-radius: 5px;
}

@include mq($until: medium) {
  /* Card Section */
  .card-order-text {
    order: 2;
  }

  .card-order-image {
    order: 1;
  }

  .card-image-margin {
    margin-bottom: 20px;
  }
}