/* Event Section */
.event-wrapper {
  background: #343a40;
  color: #fff;
}
.event-number {
  font-size: 30px;
}

/* Event Section */
#event-section {
  padding-left: 15px;
  padding-right: 15px;
}

.event-number {
  font-size: 18px;
  display: inline-block;
}

@include mq($from: small) {
  .event-input {
    margin-bottom: 10px;
  }
  .event-number {
    font-size: 30px;
  }
}
