/* Contact Section */
@include mq($until: medium) {
  /* Contact Section */
  #contact-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact-margin {
    margin-bottom: 20px;
  }
}

#contact-section {
  background: #fbefef;

  i {
    font-size: 64px;
    color: crimson;
  }
}

.contact-card {
  background: #fff;
}

.card-link {
  font-size: 24px;
}
