/* Event Section */
.event-wrapper {
  background: #343a40;
  color: #fff;
}
.event-number {
  font-size: 30px;
}

@include mq($from: small) {
  .event-input {
    margin-bottom: 10px;
  }
}

@include mq($until: medium) {
  .event-input {
    margin-bottom: 10px;
  }
}