
// 
.welcome-image {
    
  // 
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

    // 
    @include mq($from: medium) {
      height: auto;
      max-height: 700px;
    }
  }

