/* Nav item */
// nav child menu hover - bootstrap4 - be wary of hover on touchscreen 
// .nav-item:hover .dropdown-menu:not(.show){
// 	display: block;
// }
// .site-header {
//   height: 60px;
// }

/* Nav */
nav.navbar {
  border-bottom: #ff6161 2px solid;
  ul {
    margin-left: 18px;
    li {
      // text-align: center;
    }
  }
}

.pnh-logo {
  width: 125px;
  margin-right: 1rem;
}

.nav-link {
  color: rgb(92, 89, 89);
  font-size: 18px;
}

#donate-now-nav {
  margin: 8px 0px;
}

// 
@include mq($from: large) {
  #donate-now-nav {
    margin:0;
    margin-left: 12px;
  }
}

.custom-logo-link{
  padding: 5px 0;
  width: 100px;
}