// wordpress added class
.blog {

  article {
    min-height: 300px;
    background-color: white;
    // border-radius: 16px;
    border: 1px solid grey;
    margin: 1rem 0;
    // padding: 1rem;

    > p, > a, > header {
      padding: 1rem;
      padding-bottom: 0;
    }
  }

  article:first-child{
    margin-top: 0;
  }

  // aside {
    // background-color: lightblue;
    // border-radius: 0.5rem;
    // padding-top: 1rem;
  // }

}