// wordpress added class
.blog {

  // DO NOT USE THIS SELECTOR
  article.news-post{
    // min-height: 300px;
    background-color: white;
    // border-radius: 16px;
    border: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);
    margin: 0 0 1rem 0;
    
    .excerpt {
      margin-top: 0.5rem;
      text-decoration: none;
      display: flex;
      flex-direction: column;
    }
  }
}

